<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tic Tac Toe</title>
    <link rel='stylesheet' type='text/css' href="/theme.css" /> 
  </head>

  <body class='container'>
    <p>Welcome To Tic Tac Toe</p>

    <table class="center">
      <% @original_board = @updated_rows %>
      <% @updated_rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td>
              <% if @valid_moves.include?(cell.to_s) %> 
                <%= cell.to_s %>
             <% else %>
               <a href="/next_move?grid=<%=@original_board.flatten.to_s%>&move-taken=<%= cell.to_s %>><%= cell.to_s %>
             </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
   
      <h1><%= @game_status %>
      <h1><%= @original_board.flatten.to_s %>
      
    </body>
  </html>
