<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tic Tac Toe</title>
    <link rel='stylesheet' type='text/css' href="/theme.css" />
  </head>

  <body>
    <h1>Welcome To Tic Tac Toe
      <table>
        <% @formatted_rows.each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td>
                <% if @valid_moves.include?(cell) %>
                  <%= cell.to_s %>
                <% else %>
                  <% if @game_status.nil? %>
                    <a href="/next_move?move-taken=<%= cell %>&grid=<%=@formatted_rows.flatten.to_s.delete("\"")%>">
                    <% end %>
                    <%= cell %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>

        <p><%= @game_status %></p>

      </body>
    </html>
