<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tic Tac Toe</title>
    <link rel='stylesheet' type='text/css' href="/theme.css" />
  </head>

  <body class='container'>
    <p>Welcome To Tic Tac Toe</p>

    <table class="center">
      <% @formatted_rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td>
              <% if @valid_moves.include?(cell.to_s) %>
                <%= cell.to_s %>
             <% else %>
               <% if @game_status.nil? %>
             <a href="/next_move?move-taken=<%= cell.to_s %>&grid=<%=@formatted_rows.flatten.to_s.delete("\"")%>">
             <% end %>
               <%= cell.to_s %>
             </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>

      <p><%= @game_status %></p>

    </body>
  </html>
